.friendMessage {
	margin-bottom: 50px;

}

.friendImageAndText {
	display: flex;
	align-items: flex-end;
	gap: 15px;

}

.friendImageAndText img {
	max-width: 48px;
	max-height: 48px;
	margin-bottom: 5px;
}

.friendText {
	color: #000;
	background-color: #F5F7FB;
	padding: 8px 13px;
	border-radius: 20px;
	max-width: 520px;
	height: auto;
	filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
}

.friendText:after {}

.friendName {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.friendMessageText {
	font-size: 16px;
	white-space: pre-wrap;
	word-break: break-word;
}

.friendTime {
	font-size: 10px;
	font-weight: 600;
	padding-left: 10px;
}